@media (max-width: 480px){


    .menuPrincipal{
        margin-top: 10px;
        width: 0;
        height: 600px;
        position: absolute;
        background: linear-gradient(120deg, #07edad, #57575c, #07edad);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.3s all ease-in-out;
        z-index: 1;
    
    }
    
    .menuPrincipal.active{
        width: 50%;
        border: 1px solid #ffff;
        transition: 0.3s all ease-in-out;
    
    }
    
    
    .menuPrincipal ul{
        margin: 0;
        text-align: right;
        background-color:transparent;
        list-style: none;
        width: 100%;
        left: 0;
        display: none;
        transition: 0.3s all ease-in-out;
    }
    
    .menuPrincipal ul.active{
        display: block;
        transition: 0.3s all ease-in-out;
    } 
    
    .menuPrincipal ul img {
        position: relative;
        left: 25px;
        width: 20px;
        display: block;
    }
    
    .menuPrincipal ul li{
        align-items: center;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .menuPrincipal ul li:hover{
        background: linear-gradient(30deg, #07edad, #57575c, #07edad);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.2s all ease-in-out;
    }
    
    .menuPrincipal ul li a{
        align-items: center;
        right: 30px;
        position: absolute;
        width: 100%;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    .menuPrincipal ul li a:hover{color: white;
    font-weight: bold;}
    
     .toggle{ 
    top: 1em;
    left: 21em;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    background-image: url('/img/icons/menu/ellipsis.svg');
    }

    .toggle.active{
        background-image: url('/img/icons/menu/close.svg');
    }
}

@media (max-width: 330px){
    .menuPrincipal.active{
        width: 70%;
        z-index: 2;
    }
    .toggle{left:15em;}
}