*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body .corpo{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	background-color: #f3dcdc;
}

.corpo{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #07edadff;
}

.corpo::before{
    content: '';
    display: block;
    width: 100%;
    height: 370px;
    box-sizing: border-box;
    border: 60px solid transparent;
    border-top: 300px solid #07edadff;
    border-left: 300px solid #07edadff;
    border-bottom: 100px solid #ffffff;
    border-right: 350px solid #ffffff;
}

#home{
    position: absolute;
    top: 20px;
    left: 900px;
}

#home strong a{
    font-size: 18px;
    text-decoration: none;
    margin: 8px;
    color: rgb(0, 0, 0);    
}

#home a:hover {
    background-color: #fcfcfc;
    border-radius: 3px;
    opacity: 0.6;
    color: black;
}

.redondon{
    opacity: 0.5;
    top: 100px;
    left: 200px;
    position: absolute;
    background-color: #d3d3d3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #4bb84b;
}
.redondon div{
    background-color: #d3d3d3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #4bb84b;
}


.logocent{
    position: absolute;
    left: 1100px;
    top: 100px;
    opacity: 0.4;
}
.logocent img { width: 150px;}

.hexbig2{
    top: 197px;
    position: absolute;
    left: 50px;
    height: 380px;
    width: 615px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);

}
.hexbig1{
    top: 200px;
    position: absolute;
    left: 50px;
    height: 380px;
    width: 615px;
    background-color: #05f3b0ff;
    border-radius: 30px;
    transform: rotate(-29deg);
}
.hexbig0{
    top: 205px;
    position: absolute;
    left: 53px;
    height: 370px;
    width: 615px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}

#big{
    opacity: 0.2;
    position: absolute;
    top: 200px;
    left: 150px;
    transform: rotate(20deg);
}

.projeto0{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 450px;
    left: 150px;
    background-color: #07edadff;
    box-shadow: -0.3em 5px .3em #008371ff;
    border-radius: 5px;
}
.projeto0:hover{
    opacity: 0.7;
}

#proj0{
    position: absolute;
    width: 650px;
    height: 350px;
    top: 500px;
    left: 700px;
}

.projeto0 img {
    width: 160px;
}

.projeto1{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 700px;
    left: 100px;
    background-color: #07edadff;
    box-shadow: -0.3em 5px .3em #008371ff;
    border-radius: 5px;

}
.projeto1:hover{
    opacity: 0.7;
}

.projeto1 img {
    top:30px ;
    left: 5px;
    width: 160px;
    position: relative;
}

.projeto2{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 450px;
    left: 430px;
    background-color: #07edadff;
    box-shadow: -0.3em 5px .3em #008371ff;
    border-radius: 5px;

}
.projeto2:hover{
    opacity: 0.7;
}

.projeto2 img {
    top:30px ;
    left: 5px;
    width: 160px;
    position: relative;
}

.projeto3{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 700px;
    left: 380px;
    background-color: #07edadff;
    box-shadow: -0.3em 5px .3em #008371ff;
    border-radius: 5px;
}
.projeto3:hover{
    opacity: 0.7;
}

.projeto3 img {
    top:30px ;
    left: 5px;
    width: 160px;
    position: relative;
}

#portfolio{
    top: -150px;
    left: 50px;
    position: absolute;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #008371ff; 
    /* cor principal */
    
}

#descricaO{
    padding: 8px;
    position: relative;
    width: 370px;
    top: 500px;
    left: 1200px;
    display: none;
}
#descricaO h3{
    padding: 15px;
    position: flex;
    margin: auto;
    width: 200px;
    left: 200px;
    font-size: 15px;
}
#descricaO img{
    width: 60px;
    margin: 10px;
}

@media (max-width: 426px)  and (min-width: 412px) {

    #home{left: 89px;}

    #home strong a { font-size: 13px;}

    .corpo{height: auto;}

    .corpo::before{
        height: 170px;
        border-top: 130px solid #07edadff;
        border-left: 100px solid #07edadff;
        border-bottom: 100px solid #ffffff;
        border-right: 100px solid #ffffff;
    }


    .logocent{
        left: 30px;
        top: 10px;
    }
    .logocent img { width: 50px;}

    #big{
        display: none;
    }
    .projeto0{
        width: 300px;
        height: 80px;
        left: 50px;
        top: 200px;
    }
    .projeto0 img{ width: 120px;}

    .projeto1{
        width: 300px;
        height: 80px;
        left: 50px;
        top: 300px;
    }

    .projeto1 img{ 
        position: relative;
        top: 1px;
        width: 120px;}

    .projeto2{
        width: 300px;
        height: 80px;
        left: 50px;
        top: 400px;
    }

    .projeto2 img{
        position: relative;
        top: 1px;
        width: 120px;}

    .projeto3{
        width: 300px;
        height: 80px;
        left: 50px;
        top: 500px;
    }

    .projeto3 img{
        position: relative;
        top: 1px;
        width: 120px;}

    #proj0{
        width: 400px;
        height: 350px;
        top: 600px;
        left: 5px;
    }

    #portfolio{
        top: 50px;
        left: 5px;
    }

    #descricaO{
        width: 370px;
        top: 1200px;
        left: 50px;
    }
}