*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body .corpo{
    height: 100%;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	background-color: #ffffff;
}


.corpo{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #07edadff;
}

.corpo::before{
    content: '';
    display: block;
    width: 100%;
    height: 370px;
    box-sizing: border-box;
    border: 60px solid transparent;
    border-top: 400px solid #07edadff;
    border-left: 300px solid #07edadff;
    border-bottom: 100px solid #ffffff;
    border-right: 350px solid #ffffff;
}
/* ================================ ========= */

#hmenu { display: none;}

ul li img {display: none;}
ul { list-style: none;
    display: flex;}

#menu{
    position: absolute;
    top: 20px;
    left: 900px;
    display: block;
    display: flex;
}

#menu li a{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin: 8px;
    color: #000000;    
}

#menu li a:hover {
    background-color: #fcfcfc;
    border-radius: 3px;
    opacity: 0.8;
    color: black;
}

/* ======================================================= */

.redescontato {
    top: 300vh;
    position: absolute;
    height: 10vh;
    display: flex;
    left: 37%;

}
.redescontato nav li{ list-style: none;}

nav {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: #ffffff solid 2px;
    transition: 0.3s all ease-in-out;
}

nav a:hover,
nav a.active {
    background-color: #07edadff;
    border: #07edadff solid 2px;
    box-shadow: 0 0 5px #07edadff,
                0 0 15px #07edadff;
}


/* ======================================================== */
.hex0{
    top: 880px;
    position: absolute;
    left: 170px;
    height: 260px;
    width: 440px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);

}
.hex1{
    top: 880px;
    position: absolute;
    left: 170px;
    height: 260px;
    width: 440px;
    background-color: #05f3b0ff;
    border-radius: 30px;
    transform: rotate(-29deg);
}
.hex2{
    top: 875px;
    position: absolute;
    left: 175px;
    height: 270px;
    width: 430px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}


.img0{
    position: absolute;
    top: 900px;
    left: 230px;

}

.img0 img{
    width: 430px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #302f2f;
}

#nome{
    position:absolute;
    height: auto;
    width: 500px;
    left: 400px;
    top: 351px;
    object-fit: contain;
}

.hex3{
    top: 1350px;
    position: absolute;
    left: 890px;
    height: 260px;
    width: 440px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);

}
.hex4{
    top: 1350px;
    position: absolute;
    left: 890px;
    height: 260px;
    width: 440px;
    background-color: #05f3b0ff;
    border-radius: 30px;
    transform: rotate(-29deg);
}
.hex5{
    top: 1345px;
    position: absolute;
    left: 895px;
    height: 270px;
    width: 430px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}

.img1fone{
    position: absolute;
    top: 1350px;
    left: 860px;
}
.img1fone img{
    width: 380px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #302f2f;
}

#sobre{position:absolute; top: 850px; left: 1100px;}

.texto{
    position: absolute;
    text-align: justify;
    margin: 165px;
    top: 760px;
    left: 550px;
}

#forma{
    position: absolute;
    left: 600px;
    text-align: justify;
    top: 1400px;
}

.texto1{
    position: absolute;
    left: 250px;
    text-align: justify;
    top: 1500px;
}

.hexbig2{
    top: 197px;
    position: absolute;
    left: 200px;
    height: 380px;
    width: 615px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);

}
.hexbig1{
    top: 200px;
    position: absolute;
    left: 200px;
    height: 380px;
    width: 615px;
    background-color: #05f3b0ff;
    border-radius: 30px;
    transform: rotate(-29deg);
}
.hexbig0{
    top: 205px;
    position: absolute;
    left: 203px;
    height: 370px;
    width: 615px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}

#big{
    opacity: 0.2;
    position: absolute;
    top: 500px;
    left: 800px;
    transform: rotate(20deg);
}

.hexbig3{
    top: 197px;
    position: absolute;
    left: 200px;
    height: 380px;
    width: 615px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);

}
.hexbig4{
    top: 200px;
    position: absolute;
    left: 200px;
    height: 380px;
    width: 615px;
    background-color: #05f3b0ff;
    border-radius: 30px;
    transform: rotate(-29deg);
}
.hexbig5{
    top: 205px;
    position: absolute;
    left: 203px;
    height: 370px;
    width: 615px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}

#big1{
    opacity: 0.2;
    position: absolute;
    top: 1100px;
    left: 100px;
    transform: rotate(20deg);
}

/* Area de configuração da area formulario */

.content{
    display: flex;
    top: 1870px;
    position: absolute;
    align-items: center;
}

#contato h1{
    padding: 20px;
    margin-left: 140%;
}

.form{
    margin-left: 100%;
    display: flex;
    width: 500px;
    flex-direction: column;
}


.field{
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(165, 165, 165);
}
textarea{
    height: 150px;
    border: none;
    background-color: rgb(137, 194, 135);
}

.redondon{
    opacity: 0.5;
    top: 100px;
    left: 200px;
    position: absolute;
    background-color: #d3d3d3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #4bb84b;
}
.redondon div{
    background-color: #d3d3d3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #4bb84b;
}

.redondon0{
    opacity: 0.5;
    top: 850px;
    left: 1000px;
    position: absolute;
    background-color: #d3d3d3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 15px solid #4bb84b;
}
.redondon0 div{
    background-color: #d3d3d3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 10px solid #4bb84b;
}

.redondon1{
    opacity: 0.5;
    top: 1400px;
    left: 450px;
    position: absolute;
    background-color: #d3d3d3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 15px solid #4bb84b;
}
.redondon1 div{
    background-color: #d3d3d3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 10px solid #4bb84b;
}

/* ================= ====     ==== ========= === ======================= */


/* ================= ====     ==== ========= === ======================= */

@media (max-width: 426px)  and (min-width: 412px) {

    #nome{
        width: 300px;
        left: 40px;
        top: 170px;
    }

    .corpo::before{
        height: 170px;
        border-top: 200px solid #07edadff;
        border-left: 100px solid #07edadff;
        border-bottom: 100px solid #ffffff;
        border-right: 100px solid #ffffff;
    }

    .hex0{
        top: 300px;
        left: 250px;
        height: 190px;
        width: 284px;
    }
    .hex1{
        top: 300px;
        left: 250px;
        height: 190px;
        width: 284px;
    }
    .hex2{
        top: 310px;
        left: 250px;
        height: 175px;
        width: 290px;
    }
    #hexmin0{position: absolute;}

    .img0{
        top: 400px;
        left: 30px;
    }

    .img0 img{width: 330px;}

    #sobre{top: 650px; left: 200px;}

    .texto{
        margin: 5px;
        top: 690px;
        left: 10px;
    }    

    .hex3{
        top: 1100px;
        left: 50px;
        height: 190px;
        width: 284px;
    }
    .hex4{
        top: 1100px;
        left: 50px;
        height: 190px;
        width: 284px;
    }
    .hex5{
        top: 1110px;
        left: 50px;
        height: 175px;
        width: 290px;
    }

    .img1fone{
        top: 1100px;
        left: 50px;
    }
    .img1fone img{
        width: 270px;
    }

    #forma{
        left: 50px;
        top: 1380px;
    }

    .texto1{
        margin: 10px;
        left: 5px;
        top: 1450px;
    }
    .hexbig0, .hexbig1, .hexbig2, .hexbig3, .hexbig4, .hexbig5{
        display: none;
    }

    #contato h1{
        margin-left: 50px;
    }
    .form{
        margin-left: 30px;
        width: 350px;
        flex-direction: column;
    }

    .content{
        top: 1670px;

    }

    .redondon0{
        top: 660px;
        left: 300px;
    }

    .redondon1{
        top: 1380px;
        left: 40px;
    }

    #hexmin0, #hexmin1{
        transform: rotate(20deg);
    }

    .redescontato {
        top: 335vh;
        left: 10%;
    }

}
