*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
}

html{scroll-behavior: smooth;}

.conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Configuracao dos elementos da barra de navegacao  */

.conteiner-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0%;
    background-color: #ffffff;
    opacity: 0.7;
}

.conteiner-nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.conteiner-nav ul li { list-style: none; }

.conteiner-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    letter-spacing: 7px;
}

/* Configuracao dos demais elementos da pagina */

.wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 97%;
}

.logo-nome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 5px;
    width: 100%;
}

.logo-nome img { width: 50%; }

/* .conteiner-habilidades{
    height: 400px;
    width: 100%;
    background-color: red;
    margin-bottom: 5%;
} */

.informacoes-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.image-center-home img{ width: 400px; }

.informacoes-sobre { padding: 7px; }

.informacoes-sobre p {
    padding-top: 15px;
    text-align: center;
}

.informacoes-conteiner h2{ padding-bottom: 10px;}

.formacao-conteiner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    margin: 8px;
}

.formacao-conteiner p {
    padding-top: 10px;
    text-align: justify;
}

.image-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.image-center img{
    border-radius: 7px;
    width: 50%;
}

.projetos-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
}

.tela-projetos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.porjeto-imagem{
    height: 400px;
    width: 100%;
    background: rgb(194, 194, 194);
}

.text-name{
    background: #07edadff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 20px;
}

/* Inicio configuracao elemento HEX */

.hex-conteiner{
    opacity: 0.2;
    position: absolute;
    transform: rotate(20deg);
    top: 10%;
}

.hex-element-one, .hex-element-two{
    position: absolute;
    left: 200px;
    height: 380px;
    width: 615px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);
}

.hex-element-one{
    background-color: #05f3b0ff;
    transform: rotate(-29deg);
}

.hex-element-thee{
    position: absolute;
    left: 203px;
    height: 370px;
    width: 615px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}

.hex-conteiner-two{
    opacity: 0.2;
    position: absolute;
    transform: rotate(20deg);
    top: 10%;
    right: 100%;
}

/* Configuracao are Footer  */
.conteiner-nav-footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    background-color: #07edadff;
}

.conteiner-contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-right: 2px solid white;
    height: 100%;
}

.logo-developer{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    width: 100%;
}

.conteiner-nav-footer div span a img { width: 45px; }

h2{ letter-spacing: 20px; }

@media (max-width: 889px){

    .formacao-conteiner{ flex-direction: column; }

    .info-formacao{ margin-top: 5%; }

    .image-center{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (max-width: 1024px){

    .informacoes-conteiner{ font-size: 1.2em; }
}

@media (max-width: 889px){

    .informacoes-conteiner{ flex-direction: column; }
}

@media (max-width: 768px){

    .logo-developer{ font-size: 1.2em;}

    .logo-nome img { width: 70%; }

}

@media (max-width: 640px){

    .conteiner-nav{ font-size: 0.80em; }

    .conteiner-nav-footer div span a img {
        width: 30px;
    }
}