*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font-family: 'Poiret One', sans-serif;
}

html{scroll-behavior: smooth;}

.conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Configuracao dos elementos da barra de navegacao  */

.conteiner-nav {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.conteiner-nav ul li {
    list-style: none;
}

.conteiner-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    letter-spacing: 7px;
}


/* Configuracao dos demais elementos da pagina */

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-nome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 5px;
}

.logo-nome img {
    width: 95%;
}

.informacoes-conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7px;
    height: 100vh;
}

.informacoes-conteiner img{
    border-radius: 7px;
    margin: 7px;
}

.informacoes-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 7px;
    width: 60%;
    font-size: 1.5em;
    height: 100%;
}

.informacoes-sobre p {
    padding-top: 10px;
}


.formacao-conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7px;
    height: 100vh;
}

.info-formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 7px;
    width: 600px;
    font-size: 1.5em;
    height: 100%;
}

.formacao-conteiner p {
    padding-top: 10px;
}

.formacao-conteiner img{
    border-radius: 7px;
    margin: 7px;
    width: 40%;
}

.projetos-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.tela-projetos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 100%;
}

.porjeto-imagem{
    height: 400px;
    width: 100%;
    background: rgb(194, 194, 194);
}

.text-name{
    background: #07edadff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 20px;
}

/* Inicio configuracao elemento HEX */

.hex-conteiner{
    opacity: 0.2;
    position: absolute;
    left: 800px;
    transform: rotate(20deg);
    top: 10%;
}

.hex-element-one, .hex-element-two{
    position: absolute;
    left: 200px;
    height: 380px;
    width: 615px;
    background-color: #07edadff;
    border-radius: 30px;
    transform: rotate(30deg);
}

.hex-element-one{
    background-color: #05f3b0ff;
    transform: rotate(-29deg);
}

.hex-element-thee{
    position: absolute;
    left: 203px;
    height: 370px;
    width: 615px;
    background-color: #0ae5a8ff;
    border-radius: 30px;
    transform: rotate(90deg);
}

.hex-conteiner-two{
    opacity: 0.2;
    position: absolute;
    transform: rotate(20deg);
    top: 10%;
    right: 120%;
}

/* Fim configuracao elemento HEX */

/* Configuracao are Footer  */
.conteiner-nav-footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    background-color: #07edadff;
}

.conteiner-contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-right: 2px solid white;
    height: 90%;
}

.logo-developer{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    width: 100%;
}
.conteiner-nav-footer div span a img {
    width: 45px;
}