header{
    margin: 0%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(71, 71, 71));
    padding: 0.5px;
    font-size: 17px;
}
html{
    scroll-behavior: smooth; /*suavidade de deslisamento da pagina ao licar na barra de menus*/
    scroll-padding: 80px;
}
body{ margin: 0%;
    background-color: #ffffff;}

a{ text-decoration: none; margin-left: 1%;}
/* ---------------------------------------------------------------------------    Barra Navegação*/
.oriO{
    position: absolute;
    left: 90%;
    top: 45%;}

/* ---------------------------------   midias socias*/


#in{ height:1200px;}    /* nome capa */ 

#nome{
    position:absolute;
    height: 100%;
    width: 30%;
    left: 30%;
    object-fit: contain;
}

/* orientação das imagens da pagina inicial*/

#orient1{ height:70px; width: 450px;}
    #ori1{position: absolute; width: 500px; padding: 15px; top: 109%;}

#orient{ height:500px; width: 450px;}
    #ori{position: absolute; width: 500px; left: 30%; top: 145%;}

/* oreientação texto das imagens*/

#sobre{position:absolute; top: 100%; left: 50%;}

.texto{
    position: absolute;
    text-align: justify;
    margin: 15%;
    top: 77%;
    left: 20%;
}
.texto1{
    position: absolute;
    left: 65%;
    text-align: justify;
    top: 160%;
}

.logocent{
    position: absolute;
    left: 60%;
    top: 30%;
    opacity: 0.4;
}

#cent1{
    text-align: center;
    margin: 5px;}

.fd{
    position: absolute;
    top: 150%;
    left: 80%; 
}


/* Area de configuração da area formulario */
.content{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    width: 500px;
    flex-direction: column;
}
.contato{
    height: 100%;
    max-width: 500px;
}
.field{
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(165, 165, 165);
}
textarea{
    height: 150px;
    border: none;
    background-color: rgb(137, 194, 135);
}

/*  ----------------- ---------------------------------------     
Midias querys, are responsavel pela adaptacao em plataformas diferentes*/

@media (min-width: 375px) and (max-width: 915px) {

    #nome{
        position:absolute;
        height: 20%;
        width: 200px;
        left: 50px;
    }
    #sobre{position:absolute; top: 60%; left: 30%;}

    .oriO{
        left: 70%;
        top: 20%;
    }

    .texto1{top: 210%; left: 5%; text-align: justify; }

    .texto{top: 95%; left: -10%; text-align: justify;}


    #in{ height:1800px;}

    #orient1{ height:70px; width: 450px;}
    #ori1{position: absolute; width: 350px; padding: 40px; top: 65%;}
    
    #orient{ height:70px; width: 450px;}
    #ori{position: absolute; width: 350px; top: 165%; left: 10%;}
    
    
    .form{
        display: flex;
        width: 320px;
        flex-direction: column;
    }

    .fd{
        position: absolute;
        top: 200%;
        left: 30%;}

}
